<% comments.each do |comment| %>  
  <div class="comments-show">
    <div class="comment">
      <p style="font-style: italic; opacity: 0.60"><%= "#{comment.user.username} commented on #{comment.created_at.to_time.strftime('%B %e at %l:%M %p')}" %></p>
      <p><%= comment.body %><br></p>
        <% if logged_in? %>
          <div class="comment-nav"><a href="#" class="comment-reply">reply</a></div>
        <% end -%>
        <div class="reply-form">
          <% if logged_in? %>
            <%= form_for @new_comment do |f| %>
              <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
              <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
              <%= f.hidden_field :comment_id, value: comment.id %>
              <div class="field form-group">
                <%= f.text_area :body, class: 'form-control' %>
              </div>
              <div class="field form-group">
                <%= submit_tag "Post Reply", class: 'btn btn-primary' %>
              </div>            
            <% end %>
          <% end -%>          
        </div>
    </div>
    <%= render partial: "comments/reply", locals: {comments: comment.children} %>
  </div>
<% end %>  
