<% obj.each do |article| %>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="well well-lg">
        <div class="article-title">
          <%= link_to article.title, article_path(article) %>
        </div>
        <div class="article-meta">          
          
          <p class="date">Published by: <%= image_tag article.user.avatar.url, size:30, class:"img-circle" if article.user %> on <%= "#{article.created_at.to_time.strftime('%B %e at %l:%M %p')}" %> </p>
          
        </div>
        <div class="article-body">
          <%= article.description.truncate(100) %>
          <% if article.image? %>
            <i class="fa fa-picture-o" aria-hidden="true"></i>
          <% end -%>
          <p class="comment_count"><i class="fa fa-comments" aria-hidden="true"></i> <%= article.comment_threads.count %></p><br>
          <br><p id="article_<%= article.id %>_likes" style="float: right"><%= render partial: "articles/likes", locals: { article: article } %></p>
        </div>
        
        <br>
        <% if article.categories.any? %>
          <p>Categories: <%= render article.categories %></p>
        <% end -%>
      </div>
    </div>
  </div>
<% end -%>
