<h2 align="center"> <%= @article.title %></h2>
<div class="well col-xs-10 col-xs-offset-1">
  <hr>
  <p class="date">Published by: <%= @article.user.username %> on <%= @article.created_at.to_time.strftime('%B %e at %l:%M %p') %></p>  
  <%= simple_format(@article.description) %>
  <hr>
  <div class="article-actions">    
    <%= link_to "Edit", edit_article_path(@article), 
      class: "article-btn"%>    
    <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are You Sure?"}, class: "article-btn"%>
  </div>  
</div>

