<h2 align="center"><%= @category.name %></h2>
<div align="center">  
  <% if logged_in? and current_user.admin? %>
    <div class="row">
      <br>
      <%= link_to "Edit Category Name", edit_category_path(@category), class: "category-btn"%>
    </div>
  <% end -%>
  <br>
  <%= will_paginate @category_articles %>

  <%= render 'articles/article', obj: @category_articles %>

  <%= will_paginate @category_articles%>
</div>